body {
	font-family: 'Alfa Slab One';
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

@media (min-width: 1000px) {
body {
	overflow-y: hidden;
}

body > img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}
	
}
/*------------STARTMENU------------*/

.startmenu div, .endmenu div {
	background: 20;
	text-align: center;
	color: #D52335;
	padding: 0 20%;
}

.startmenu img, .endmenu img {
	margin: 5% 0 0 40%;
	width: 20%;
	border-radius: 10px;
}

.startmenu div button, .endmenu div button {
	max-width: 100%;
	margin-top: 30px;
	background: #fcdef0;
	border: none;
	padding: 10px 20px;
	border-radius: 25px;
	font-size: 24px;
	border: 3px inset pink;
	outline: none;
}

.startmenu div button:hover, .endmenu div button:hover {
	max-width: 100%;
	cursor: pointer;
	border: 3px outset pink;
	background: purple;
	color: white;
}

.startmenu div p, .endmenu div p {
	-webkit-text-stroke-width: 0.5px;
 	-webkit-text-stroke-color: black;
	font-size: 20px;
	padding: 0 10%;
}

.gamebegins, .endmenuNONE {
	display: none;
}

/*------------STARTGAME------------*/

.gamearea {
	position: fixed;
	width: 1440px;
	height: 900px;
	margin: 0;
	padding: 0;
	cursor: url(img/jerry.png), auto;
	overflow-y: hidden;
}

.gameareaNONE {
	display: none;
}

.jerom {
	position: fixed;
	margin-top: -300px;
	width: 170px;
	user-drag: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.jeromA {
	animation: jeromA 5s linear 5;
}

@keyframes jeromA {
	0% {
		margin-top: -300px;
	}
	100% {
		margin-top: 900px;
	}
}

.jeromB {
	animation: jeromB 4s linear 10;
}

@keyframes jeromB {
	0% {
		margin-top: -300px;
	}
	100% {
		margin-top: 900px;
	}
}

.jeromC {
	animation: jeromC 3s linear 10;
}

@keyframes jeromC {
	0% {
		margin-top: -300px;
	}
	100% {
		margin-top: 900px;
	}
}

.jeromD {
	animation: jeromD 2s linear 10;
}

@keyframes jeromD {
	0% {
		margin-top: -300px;
	}
	100% {
		margin-top: 900px;
	}
}

.jeromE {
	animation: jeromE 1s linear 65;
}

@keyframes jeromE {
	0% {
		margin-top: -300px;
	}
	100% {
		margin-top: 900px;
	}
}

.jeromF {
	animation: jeromF 0.5s linear 100;
}

@keyframes jeromF {
	0% {
		margin-top: -300px;
	}
	100% {
		margin-top: 900px;
	}
}

.jeromG {
	animation: jeromG 0.1s linear infinite;
}

@keyframes jeromG {
	0% {
		margin-top: -300px;
	}
	100% {
		margin-top: 900px;
	}
}

.gamearea h1 {
	position: relative;
	font-size: 150px;
	transition: opacity 1s;
	color: white;
	letter-spacing: 10px;
	text-shadow: 2px 2px 3px black;
	text-align: center;
	top: 200px;
}

.counter {
	opacity: 0;
}

.gamearea ul {
	position: relative;
	display: flex; 
	list-style-type: none;
	font-size: 40px;
	color: white;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	z-index: 999;

}

.gamearea li:first-of-type {
	position: fixed;
	padding: 0;
	left: 50px;
}

.gamearea li:nth-of-type(2) {
	position: fixed;
	right: 50px;
}

.ulgone {
	display: none;
}

/*------------ENDGAME------------*/

.body {
  	position: fixed;
	filter: blur(4px);
  	-webkit-filter: blur(4px);
	width: 1440px;
	height: 900px;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.highscore, .points {
	font-size: 24px;
}